.App {
    width: 100vw;
    /*height: 100vh;*/
    background: #fff;
    color: #212121;
    font-family: "Open Sans", sans-serif;
    display: grid;
    place-items: center;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
.joinGameContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
}


/*.joinGameContainer h3 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}*/

.joinGameContainer input {
    width: 210px;
    height: 40px;
    margin: 7px;
    border: 2px solid #43a047;
    border-radius: 5px;
    padding: 2px;
    font-size: 16px;
}

.joinGameContainer button {
    width: 225px;
    height: 50px;
    margin: 2px;
    border: none;
    border-radius: 5px;
    padding: 2px;
    font-size: 16px;
    background: #43a047;
    color: #fff;
    cursor: pointer;
}

.joinGameContainer button:hover {
    background: #0f9615;
}

td {
    border: 1px solid black;
    height: 100px;
    width: 100px;
    text-align: center;
    background-color: rgba(121, 223, 20, 0.308);
}

.disable {
    cursor: not-allowed;
}

h3 {
    text-align: center;
}

h6 {
    text-align: center;
}

h1 {
    border-radius: 10px;
    color: rgb(87, 85, 85);
    font-size: 70px;
}

.visibleh3 {
    visibility: visible;
}

.hiddenh3 {
    visibility: hidden;
}